<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Mi Contacto</title>
</head>

<body>

    <div class="nav">
        <ul class="nav-items">
            <li><a href="~/">Home</a></li>
            <li id="projects"><a href="~/Projects">Projects</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>


   <div class="Cuerpo">
    <h1>Contactame</h1>

    <div class="formularioContacto">
 <form action="#" method="post">
        <div>
            <label for="name">Nombre: </label>
            <input type="text" name="name" 
            placeholder="Your name..." >
        </div>

        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" 
            placeholder="Your email..." >
        </div>


        <label for="textarea">Mensaje</label>
        <div>
            <textarea  name="textarea" id="textarea" rows="5" cols="35"></textarea>
        </div>


        <input type="submit" value="Enviar" >
    </form>

       
    </div>
   </div>
</body>

</html>