<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="~/css/style.css"/>  
    <title>Mi Portafolio</title>
</head>
<body>
    
    <div class="nav">
        <ul class="nav-items">
            <li><a>Home</a></li>
            <li id="projects"><a href="~/Projects">Projects</a></li>
            <li><a href="~/Contact">Contact</a></li>
        </ul>
    </div>


    <div class="Cuerpo">
        <h1>About Me</h1>

        <div class="Contenido-Cuerpo">
            <div class="Contenido-Izq">
                    <img id="miFoto" src="~/img/foto.jpg" alt="miFoto">
                    <p>Rafael aburto</p>
                    <p>Me encanta programar</p>
            </div>
            <div class="Contenido-Dere">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sit animi repellendus aspernatur placeat recusandae laudantium quibusdam perspiciatis quidem rem fuga, qui mollitia, ab voluptatem, praesentium earum? Molestiae, doloremque nostrum.</p>
            </div>    
        </div>

    </div>
    



</body>
</html>