<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Mis Proyectos</title>
</head>

<body>
    <div class="nav">
        <ul class="nav-items">
            <li><a href="~/">Home</a></li>
            <li id="projects"><a>Projects</a></li>
            <li><a href="~/Contact">Contact</a></li>
        </ul>
    </div>

</body>

    <div class="Cuerpo">
        <h1>Mis Proyectos</h1>

        <div class="Contenido-Proyectos">
            <div class="listaProyectos">
                @Html.Raw(ViewBag.content)
            </div>
            
        </div>

    </div>

</html>