@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div><h1>Random pass code # <span id="cantidadCodes">0</span></h1> </div>
    
    <input type="text"  id="codigo" disabled>
    <button onclick="generar()">Generar</button>
</div>
