<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Divertido</h1>

    @{
        List<string> lista = new List<string>() {"uno","dos","3","cuatro", "si", "no","coca cola"};
        
        <h3>Lista de cosas Random</h3>

        @foreach(string iterador in lista){
            if(iterador.StartsWith("c")){
                <p style="color: red;">@iterador</p>
            }else{
                <p>@iterador</p>
            }
            
        }
    }

    
</body>
</html>