*{
    margin: 0;
   
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav{
    background-color: rgb(63, 63, 63);
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-around;
}

.nav-title{
    margin-left: 20px;
    color: white;
    
}

.nav-links{
    display: flex;
    text-decoration: none;    
    align-items: center;
    list-style: none; 
   
}


.nav-links a{
 
    color: white;
    text-decoration: none;
    align-items: self-start;
  
}


.nav-links li{
   
    margin-right: 20px;
}

.btn{
    width: 100px;
    height: 40px;
    color: white;
    
    background-color: rgb(8, 163, 163);
    box-shadow: 3px 3px 3px 3px black;
    justify-self: right;
}




.cuerpo{
    padding: 25px;
    border:1px solid rgb(152, 151, 151);
}

.tarjeta{
    border:2px solid rgb(152, 151, 151);
    max-width: 500px;
    margin: 20px;
}


.contenido{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.izquierda{
    display: flex;
    flex-direction: column;
}

.derecha{
    display: flex;
    flex-direction: column;
}







.contenido-tarjeta{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.contenido-izq{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.contenido-izq >span{
    margin-top: 8px;
}

.contenido-izq >button{
    margin-top: 8px;
}

.contenido-dere{
    align-self: center;
    margin-left: 80px;
   
}

.tarjeta-dere{
    max-width: 250px;
    max-height: 170px;
    display: flex;
    justify-content: center;
}

.contenido-dere{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.definition{
    width: 150px;
    background-color: #93C47D;
    height: 30px;
    box-shadow: 1px 1px 1px 1px;
    
}

.like{
    width: 100px;
    background-color: #FFD966;
    height: 30px;
    box-shadow: 1px 1px 1px 1px;
}
