@{
    ViewData["Title"] = "Usuario";
}

@model Usuario
<div class="text-center">
    <h1 class="display-4">Usuario</h1>
    <div class="numeros">
       <span>@Model.Nombre @Model.Apellido</span>
   </div>
</div>